# Auto detect text files and perform LF normalization
* text=auto
*.cs text eol=lf
*.shader text eol=lf
*.cginc text eol=lf
*.txt text eol=lf
*.md text eol=lf

Assets/Plugins/FMOD/**/*.bundle text eol=lf
Assets/Plugins/FMOD/**/Info.plist text eol=lf
